<div class="container mt-5">

  <h1 class="mb-4">
    🛍 Checkout
  </h1>

  <div class="row">

    <!-- Left Side -->
    <div class="col-lg-8">

      <div class="card shadow mb-4">

        <div class="card-header">

          <h3>Products</h3>

        </div>

        <div class="card-body">

          <div
  *ngFor="let item of cartItems"
  class="border rounded p-3 mb-3 position-relative">

  <!-- Remove Button -->
  <button
    type="button"
    class="btn-close position-absolute top-0 end-0 m-3"
    (click)="removeFromCheckout(item.id)">
  </button>

  <div class="row align-items-center">

    <!-- Product Image -->
    <div class="col-md-2">

      <img
        [src]="item.product?.imageUrl"
        class="img-fluid rounded"
        style="height:100px;object-fit:contain;">

    </div>

    <!-- Product Details -->
    <div class="col-md-10">

      <h5>
        {{ item.product?.name }}
      </h5>

      <p>
        Quantity:
        <strong>{{ item.quantity }}</strong>
      </p>

      <p>
        Price:
        ₹{{ item.product?.price }}
      </p>

      <p class="text-success fw-bold">

        Subtotal:
        ₹{{ item.product?.price * item.quantity }}

      </p>

    </div>

  </div>

</div>

        </div>

      </div>

    </div>

    <!-- Right Side -->
    <div class="col-lg-4">

      <div class="card shadow">

        <div class="card-header">

          <h3>Delivery Address</h3>

        </div>

        <div class="card-body">

          <div class="mb-3">

            <input
              [(ngModel)]="name"
              class="form-control"
              placeholder="Full Name">

          </div>

          <div class="mb-3">

            <input
              [(ngModel)]="mobile"
              class="form-control"
              placeholder="Mobile Number">

          </div>

          <div class="mb-3">

            <textarea
              [(ngModel)]="address"
              class="form-control"
              rows="4"
              placeholder="Full Address">
            </textarea>

          </div>

          <div class="mb-3">

            <input
              [(ngModel)]="pincode"
              class="form-control"
              placeholder="Pincode">

          </div>
          <hr>

<h4 class="mb-3">Payment Method</h4>

<div class="form-check mb-2">
  <input
    class="form-check-input"
    type="radio"
    name="payment"
    value="COD"
    [(ngModel)]="paymentMethod">

  <label class="form-check-label">
    💵 Cash On Delivery
  </label>
</div>

<div class="form-check mb-2">
  <input
    class="form-check-input"
    type="radio"
    name="payment"
    value="UPI"
    [(ngModel)]="paymentMethod">

  <label class="form-check-label">
    📱 UPI
  </label>
</div>

<div class="form-check mb-2">
  <input
    class="form-check-input"
    type="radio"
    name="payment"
    value="CARD"
    [(ngModel)]="paymentMethod">

  <label class="form-check-label">
    💳 Credit / Debit Card
  </label>
</div>

<div class="form-check mb-3">
  <input
    class="form-check-input"
    type="radio"
    name="payment"
    value="NETBANKING"
    [(ngModel)]="paymentMethod">

  <label class="form-check-label">
    🏦 Net Banking
  </label>
</div>

<hr>
<div *ngIf="paymentMethod==='UPI'" class="mb-3">

  <label>UPI ID</label>

  <input
    class="form-control"
    placeholder="example@oksbi">

</div>
<div *ngIf="paymentMethod==='CARD'">

<div class="mb-2">

<input
class="form-control"
placeholder="Card Number">

</div>

<div class="mb-2">

<input
class="form-control"
placeholder="Card Holder">

</div>

<div class="row">

<div class="col">

<input
class="form-control"
placeholder="MM/YY">

</div>

<div class="col">

<input
class="form-control"
placeholder="CVV">

</div>

</div>

</div>

          <hr>

          <h3 class="text-success">

            Grand Total:
            ₹{{ getTotalPrice() }}

          </h3>

          <button
            class="btn btn-success btn-lg"
            (click)="placeOrder()">

            Place Order

            </button>
            <div
*ngIf="orderPlaced"
class="alert alert-success mt-3">

<h4>

✅ Order Placed Successfully

</h4>

<p>

<b>Order Number:</b>

{{orderNumber}}

</p>

</div>

        </div>

      </div>

    </div>

  </div>

</div>