.product-card{
    transition: 0.3s;
    border: none;
}

.product-card:hover{
    transform: translateY(-5px);
}

.product-image{
    height: 250px;
    object-fit: cover;
}

.card{
    border-radius: 15px;
}

.btn{
    border-radius: 10px;
}

h1{
    font-weight: 700;
}